body{
    margin-top:50px;
    padding:10px;
    background-color:#e0fbfc;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
.pro1{
    margin-left:100px;
    margin-bottom: 30px;
}
.myprojects{
    padding:10px;
    display:block;
    margin-top:10px;
    margin-bottom: 10px;
}